

html,body{
  height: 100%;
}

.sidebar{
  background-color: #1b1b1b;
  padding: 40px;
  width: 18%;
  height: 100%;
  float:left;
  overflow: hidden;
  position: fixed;
}

.logo h3{

font-style:italic;

}


.main{
  position: relative;
  width: 82%;
  padding: 20px;
  float: right;
  overflow: hidden;

}

ul, li{
  padding: 0;
}



.navigation li{
  list-style: none;
  margin-top: 5px;
}

.navigation li .spacer{
  color: #b7b3b3;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  display: block;
}

.navigation li a{
  color: #ffffff;
  padding: 5px 5px;
  display: block;
  font-size: 14px;
  text-decoration: none;
}

.navigation li a:hover{
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
}

.navigation li a:active{
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
}
